img.frame_border {
    background #fff;
    border-radius: 10px 10px 1px 1px;
    cursor: pointer;
    height: 128px;
    padding: 0;
    width: 188px;
}

div.border {
    border-radius: 10px;
    border: 2px solid #c00;
    height: 250px;
    margin: 10px;
    padding: 0;
    width: 128px;
}

.bold {
    font-weight: bold;
}

.content_padding {
    padding: 10px;
}
